body {
    background: url(../image/bg-desktop.svg);
    background-size: cover;
    background-color: var(--primary-violet);
    font-family: 'Outfit', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.cabecalho {
    padding: 30px 0 60px 70px;

}

.cabecalho img {
    width: 200px;
}

.container {
    max-width: 1240px;
    display: flex;
    margin: 20px 0 0 70px;

}

.container .banner {
    margin-top: 20px;

}

.container .descricao {
    margin: 40px 0 0 70px;

}

.container .descricao h1 {
    color: #ffff;
    font-size: 40px;

}

.container .descricao p {
    color: #ffff;
    font-size: 20px;
}

.container .botao {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffff;
    width: 150px;
    height: 50px;
    font-size: 20px;
    border-radius: 30px;
}

.container .botao :hover {
    content: '';
    background-color: violet;
    width: 150px;
    height: 50px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease-in-out;
}


.roda-pe {
    max-width: 1240px;
    display: flex;
    justify-content: flex-end;
}



.roda-pe .icones .fa-facebook,
.roda-pe .icones .fa-twitter,
.roda-pe .icones .fa-instagram {
    font-size: 30px;
    color: #ffff;
    padding: 10px;
    margin: -60px 10px;
    border: 1px solid #ffff;
    border-radius: 25px;

}

.icones .fa-facebook:hover,
.icones .fa-twitter:hover,
.icones .fa-instagram:hover {

    color: var(--Soft-Magenta);
    border: 1px solid var(--Soft-Magenta);
    transition: color .3s;

}